.contenedorH{
 h1{
    text-align: center;
 }
    margin-top: 10rem;
    .habilidades{
        display: flex;
        justify-content: space-around;
        border: black solid 4px;

        .front{}

        .back{}
    }
}

