header{
   display: flex;
   justify-content: space-around;
    background: #111;
    align-items: center;
    .contenedor{
        padding: 0;
        display: flex;
        justify-content:center;
        transition: color 0.5s;
       
        
        &-lista{
            padding: 1.5rem;
            text-decoration: none;
            color: #fff;
            &:hover{
                transition:color 0.5s;
                color: #726f6f;
                
            }
        
        }
    }

    .icons{
        display: flex;
        justify-content: space-between;
        width: 6%;
    }


.icon{
    color: #fff;
    font-size: 2rem;

}
    .iconcasa{
        color: #fff;
        font-size: 3rem;
        padding: 0 0.5rem;
        &:hover{
            transition:color 0.5s;
            color: #726f6f;
        }
    } 


    .iconlinkedin{
        color: #fff;
        font-size: 2rem;
        
        &:hover{
            transition: 0.5s;
            background-color: #0e76a8;
            border-radius: 0.2rem;
            
        }

    }

    .iconinstagram{
        color: #fff;
        font-size: 2rem;
        &:hover{
            transition: 0.5s;
            color: #d62976;
          
           
        }
    }

    .iconfacebook{
        color: #fff;
        font-size: 2rem;
        &:hover{
            transition: 0.5s;
            color: #3b5998;
            background-color: #fff;
            border-radius: 1rem;
        }
    }

}