* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-around;
  background: #111;
  align-items: center;
}
header .contenedor {
  padding: 0;
  display: flex;
  justify-content: center;
  transition: color 0.5s;
}
header .contenedor-lista {
  padding: 1.5rem;
  text-decoration: none;
  color: #fff;
}
header .contenedor-lista:hover {
  transition: color 0.5s;
  color: #726f6f;
}
header .icons {
  display: flex;
  justify-content: space-between;
  width: 6%;
}
header .icon {
  color: #fff;
  font-size: 2rem;
}
header .iconcasa {
  color: #fff;
  font-size: 3rem;
  padding: 0 0.5rem;
}
header .iconcasa:hover {
  transition: color 0.5s;
  color: #726f6f;
}
header .iconlinkedin {
  color: #fff;
  font-size: 2rem;
}
header .iconlinkedin:hover {
  transition: 0.5s;
  background-color: #0e76a8;
  border-radius: 0.2rem;
}
header .iconinstagram {
  color: #fff;
  font-size: 2rem;
}
header .iconinstagram:hover {
  transition: 0.5s;
  color: #d62976;
}
header .iconfacebook {
  color: #fff;
  font-size: 2rem;
}
header .iconfacebook:hover {
  transition: 0.5s;
  color: #3b5998;
  background-color: #fff;
  border-radius: 1rem;
}

.main {
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main .img {
  width: 45%;
}
.main .img img {
  width: 100%;
  height: 100%;
}
.main h1 {
  font-size: 4rem;
}
.main h3 {
  font-size: 1.6rem;
  color: darkgrey;
}

.seccion_productos {
  text-align: center;
  margin-top: 4rem;
}
.seccion_productos .productos {
  display: flex;
  justify-content: space-evenly;
}

.card {
  margin-top: 4rem;
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5019607843);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.footer {
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
  background: #111;
  align-items: center;
  width: 100%;
}
.footer .izquierdo {
  color: #fff;
}
.footer .derecho {
  width: 20%;
}
.footer .derecho .contenedor {
  padding: 0;
  display: flex;
  justify-content: center;
  transition: color 0.5s;
}
.footer .derecho .contenedor-lista {
  padding: 1.5rem;
  text-decoration: none;
  color: #fff;
}
.footer .derecho .contenedor-lista:hover {
  transition: color 0.5s;
  color: #726f6f;
}

.contenedor {
  width: 40%;
}/*# sourceMappingURL=index.css.map */